html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('images/background_preload.png'); /* Ganti dengan nama file gambar Anda */
  background-size: cover; /* Membuat gambar menutupi seluruh halaman */
  background-position: center; /* Menempatkan gambar di tengah halaman */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Memastikan body memiliki ketinggian minimum 100% dari viewport */
  text-align: center; /* Menyusun teks di tengah */
}

header, footer {
  background: rgba(0, 0, 0, 0.6); /* Warna latar belakang transparan untuk header dan footer */
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}

main {
  display: flex; /* Menyusun konten di dalam elemen main */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Memastikan main menutupi seluruh lebar */
  min-height: 100vh; /* Memastikan main memiliki tinggi minimum 100% dari viewport */
}


.center-image {
  display: block;
  margin: 20px auto; /* Menempatkan gambar di tengah horizontal */
  max-width: 80%; /* Membatasi lebar gambar untuk memastikan tidak melebihi kontainer */
  height: auto; /* Mempertahankan rasio aspek gambar */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Warna biru tombol */
  text-align: center;
  text-decoration: none;
  border-radius: 5px; /* Sudut melengkung pada tombol */
  margin: 20px; /* Jarak antar tombol */
  transition: background-color 0.3s ease; /* Transisi warna saat hover */
}

.button:hover {
  background-color: #0056b3; /* Warna biru lebih gelap saat hover */
}
