body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/background_preload.png'); /* Ganti dengan nama file gambar Anda */
  background-size: cover; /* Membuat gambar menutupi seluruh halaman */
  background-position: center; /* Menempatkan gambar di tengah halaman */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
}

header, footer {
  background: rgba(0, 0, 0, 0.6); /* Warna latar belakang transparan untuk header dan footer */
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  color: white; /* Warna teks putih agar kontras dengan background */
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Warna biru tombol */
  text-align: center;
  text-decoration: none;
  border-radius: 5px; /* Sudut melengkung pada tombol */
  margin: 10px; /* Jarak antar tombol */
  transition: background-color 0.3s ease; /* Transisi warna saat hover */
}

.button:hover {
  background-color: #0056b3; /* Warna biru lebih gelap saat hover */
}


